<%- include('partials/header') %>

<div id="gullfoss-grid">

    <div class="gullfoss-card-border">

        <h2 class="gullfoss-title">Gullfoss</h2>
        
        <div class="item2">
            <p>Gullfoss ("Golden Falls") is a waterfall located in the canyon of the Hvítá river in southwest Iceland. 
                It is one of the most popular tourist attractions in the country, and is included in "Golden Circle" 
                tours of the countryside near Reykjavík.</p>
        </div>

        <div class="item2">
            <img src="./images/gullfoss.png" alt="<%= title %>">
        </div> 

    </div>
</div>

<%- include('partials/footer') %>