<%- include('partials/header') %>

<div class="menu-card">

    <h2 class="menu-title">Matseðill Vikunnar</h2>

    <div class="item">
        <h2>Mánudagur</h2>
        <p>Þorskur í 'black garlic', hrísgrjón og salat</p>
    </div> 

    <div class="item">
        <h2>Þriðjudagur</h2>
        <p>Kjúklingabitar með bulgur, salati og sítrussósu</p>
    </div> 

    <div class="item">
        <h2>Miðvikudagur</h2>
        <p>Fish'n chips, kartöflur, sósa og salat</p>
    </div> 

    <div class="item">
        <h2>Fimmtudagur</h2>
        <p>Sumardagurinn fyrsti</p>
    </div> 

    <div class="item">
        <h2>Föstudagur</h2>
        <p>Lambaskankar með kartöflum og brúnni sósu</p>
    </div> 
</div>

<%- include('partials/footer') %>